{%extends "./base.html"%}
{% load static %}

{% block stylesheets %} <link rel="stylesheet" type="text/css" href="{% static 'webpages/style.css' %}">{% endblock %}
{% block title %}Daniel Escoval - CV{% endblock %}

{% block left_side %}
<div class="profileTexte">
    <div class="imgBx">
        <img src="static/images/1579356578851.jpg">
    </div>
    <h2>Daniel Escoval<br>
        <span>
            IT Service Engineer <br> 
            Project Manager <br> 
            Full Stack Developer <br>
            Data Analyst
        </span>
    </h2>
</div>

{% comment %} Information de contact {% endcomment %}
<div class="contactInfo">
    <h3 class="title">Informations de contact</h3>
    <ul>
        <li>
            <span class="icon"><i class="fas fa-phone-alt"></i></span>
            <span class="text">079 851 73 92</span>
        </li>
        <li>
            <span class="icon"><i class="fas fa-envelope"></i></span>
            <span class="text">daniel.esco92@gmail.com</span>
        </li>
        <li>
            <span class="icon"><i class="fas fa-globe"></i></span>
            <span class="text">www.danielescoval.ch</span>
        </li>
        <li>
            <span class="icon"><i class="fab fa-linkedin"></i></span>
            <span class="text">https://www.linkedin.com/in/daniel-escoval/</span>
        </li>
        <li>
            <span class="icon"><i class="far fa-compass"></i></span>
            <span class="text">Route d'Eguechaudens 8, 1030 Bussigny</span>
        </li>
    </ul>
</div>

{% comment %} Université {% endcomment %}
<div class="contactInfo education">
    <h2 class="title">Formation</h2>
    <h3 class="sub_title">Université</h3>
    <ul>
        <li onclick="show_image(popup_image_master)">
            <h5>2017-2019</h5>
            <h4>Master en Humanités Digitales</h4>
            <h4>Université de Lausanne</h4>
        </li>
        <div id='popup_image_master'>
                <span onclick='show_image(popup_image_master)'>&times;</span>
                <img src="static/pdfs_pro/Master 1.jpg">
        </div>
        <li>
            <h5>2011-2016</h5>
            <h4>Bachelor ès Lettres</h4>
            <h6>Français moderne, Histoire & Français médiéval</h6>
            <h4>Université de Lausanne</h4>
        </li>
        <li>
            <h5>2009-2011</h5>
            <h4>Maturité fédérale</h4>
            <h6>Biologie, Chimie et Informatique</h6>
            <h4>Gymnase de Morges</h4>
        </li>
    </ul>
    <br>
    <h3 class="sub_title" onclick="hide_Show(certificats_list)">Certifications & cours</h3>
    <h4>Certifications<h4>
    {%for certif in certifications%}
        <ul id="certificats_list">
            {%if certif.type_document == 'Certification'%}
            <li onclick="show_image({{certif.balise}})">
                <h5>{{certif.année}}</h5>
                <h4>{{certif.nom_certif}}</h4>
                <h4>{{certif.entreprise}}</h4>
                <div id='{{certif.balise}}'>
                    <span onclick='show_image({{certif.balise}})'>&times;</span>
                    <img src="static/pdfs_pro/Certifications/{{certif.fichier}}">
                </div>
            </li>
            {%endif%}
        </ul>
    {%endfor%}
    <hr> <br>
    <h4>Cours<h4>
    {%for certif in certifications %}
        <ul id="certificats_list">
            {%if certif.type_document == 'Cours'%}
            <li onclick="show_image({{certif.balise}})">
                <h5>{{certif.année}}</h5>
                <h4>{{certif.nom_certif}}</h4>
                <h4>{{certif.entreprise}}</h4>
                <div id='{{certif.balise}}'>
                    <span onclick='show_image({{certif.balise}})'>&times;</span>
                    <img src="static/pdfs_pro/Cours/{{certif.fichier}}">
                </div>
                {% comment %} <p>static/pdfs_pro/Cours/{{certif.fichier}}</p>
                <p>{{certif.balise}}</p> {% endcomment %}
            </li>
            {%endif%}
        </ul>
    {%endfor%}
    <hr> <br>
    <h4>Évènements</h4>
    {%for certif in certifications %}
        <ul id="certificats_list">
            {%if certif.type_document == 'Évènement'%}
            <li onclick="show_image({{certif.balise}})">
                <h5>{{certif.année}}</h5>
                <h4>{{certif.nom_certif}}</h4>
                <h4>{{certif.entreprise}}</h4>
                <div id='{{certif.balise}}'>
                    <span onclick='show_image({{certif.balise}})'>&times;</span>
                    <img src="static/pdfs_pro/Évènement/{{certif.fichier}}">
                </div>
                {% comment %} <p>static/pdfs_pro/Cours/{{certif.fichier}}</p>
                <p>{{certif.balise}}</p> {% endcomment %}
            </li>
            {%endif%}
        </ul>
    {%endfor%}
</div>

{% comment %} Langues {% endcomment %}
<div class="contactInfo langue">
    <h3 class="title">Langues</h3>
    <ul>
        <li>
            <span class="text">Français : </span>
            <span>Maîtrise parfaite</span>
            <span class="percent">
                <div style="width: 100%"></div>
            </span>
        </li>
        <li>
            <span class="text">Anglais : </span>
            <span>Maîtrise professionnelle</span>
            <span class="percent">
                <div style="width: 90%"></div>
            </span>
        </li>
        <li>
            <span class="text">Portugais : </span>
            <span>Langue maternelle</span>
            <span class="percent">
                <div style="width: 90%"></div>
            </span>
        </li>
        <li>
            <span class="text">Allemand : </span>
            <span>Bonne maîtrise</span>
            <span class="percent">
                <div style="width: 65%"></div>
            </span>
        </li>
    </ul>
</div>

{% comment %} Soft skills {% endcomment %}
<div class="contactInfo soft_skills">
    <h3 class="title">Soft skills</h3>
    <ul>
        <li>
            <span class="text">Orienté solution</span>
        </li>
        <li>
            <span class="text">Esprit critique</span>
        </li>
        <li>
            <span class="text">Intelligence émotionnelle</span>
        </li>
        <li>
            <span class="text">Communication</span>
        </li>
        <li>
            <span class="text">Gestion du stress</span>
        </li>
        <li>
            <span class="text">Créativité</span>
        </li>
        <li>
            <span class="text">Team spirit</span>
        </li>
        <li>
            <span class="text">Curiosité</span>
        </li>
        <li>
            <span class="text">Humour</span>
        </li>
    </ul>
</div>
{% endblock %}

{%block right_side%}
{% comment %} Mes réalisations {% endcomment %}
<div class="about">
    <h2 class="title_2">Mes plus grandes réalisations</h2>
    <p>Dans le cadre des Jeux Olympiques de Tokyo 2020 et Beijing 2022, j'ai mis en place une base de données des athlètes présents aux Jeux. 
        J’ai comparé et nourri mes résultats avec les données du terrain ainsi que celles que je pouvais trouver dans des sources libres ou directement du CIO. </p>
    <p>Hors du cadre des Jeux, j'ai également participé au design et au développement d'une application visant le rapatriement des échantillons antidopage. 
        J'ai suivi le projet de sa conception à sa mise en production. 
        Pour ce faire, j'ai participé aux réunions avec le Product Owner ainsi que les différentes parties prenantes afin de construire un produit standardisé et le plus adapté possible aux différents processus. 
        J'ai ensuite participé aux différents trainings, écrit la documentation et construit les dashboards utilisés au quotidien. </p>
</div>

<div class="about">
    <h2 class="title_2">Expérience professionnelle</h2>
    {%for exp in expériences %}
        {%if exp.type_expérience == 'Pro'%}
            {%if exp.div_tag is null%}
                <div class="box">
                    <div class="year_company">
                        <h5>{{exp.de_année}} - {{exp.à_année}}</h5>
                        <h5>{{exp.entreprise}}</h5>
                    </div>
                    <div class="text">
                        <h4>{{exp.titre}}</h4>
                        <div>
                            {{exp.description|safe}}
                        </div>
                    </div>
                </div>
            {%else%}
            <div onclick='show_image({{exp.div_tag}})'>
                <div class="box">
                    <div class="year_company">
                        <h5>{{exp.de_année}} - {{exp.à_année}}</h5>
                        <h5>{{exp.entreprise}}</h5>
                    </div>
                    <div class="text">
                        <h4>{{exp.titre}}</h4>
                        <div>
                            {{exp.description|safe}}
                        </div>
                    </div>
                    <div id='{{exp.div_tag}}'>
                        <span onclick='show_image({{exp.div_tag}})'>&times;</span>
                        <img src="static/pdfs_pro/Travail/{{exp.fichier}}">
                    </div>
                </div>
            </div>
            {%endif%}
        {%endif%}
    {%endfor%}
</div>

<div class="about">
    <h2 class="title_2">Expérience associative</h2>
    {%for exp in expériences %}
        {%if exp.type_expérience == 'Assoc'%}
        <div class="box">
            <div class="year_company">
                <h5>{{exp.de_année}} - {{exp.à_année}}</h5>
                <h5>{{exp.entreprise}}</h5>
            </div>
            <div class="text">
                <h4>{{exp.titre}}</h4>
                <div>
                    {{exp.description|safe}}
                </div>
            </div>
        </div>
        {%endif%}
    {%endfor%}
</div>

<div class="about skills">
    <h2>Compétences professionnelles</h2>
    <div class="box">
        <h4 style="cursor: pointer;" onclick="hide_Show(python_hide_show)">Python</h4>
        <div class="percent">
            <div style="width: 90%;"></div>
        </div> 
        <div id="python_hide_show" class="show_hide" style="display: none;">
            <ul>
                <li class="sub_skill">Selenium
                    <div class="percent">
                        <div class="sub_filler" style="width: 100%;"></div>
                    </div>
                </li>
                <li class="sub_skill">Pandas
                    <div class="percent">
                        <div class="sub_filler" style="width: 90%;"></div>
                    </div>
                </li>
                <li class="sub_skill">Openpyxl
                    <div class="percent">
                        <div class="sub_filler" style="width: 90%;"></div>
                    </div>
                </li>
                    
                <li class="sub_skill">Django
                    <div class="percent">
                        <div class="sub_filler" style="width: 90%;"></div>
                    </div>
                </li>
                <li class="sub_skill">BeautifulSoup
                    <div class="percent">
                        <div class="sub_filler" style="width: 80%;"></div>
                    </div>
                </li>
                <li class="sub_skill">Matplotlib
                    <div class="percent">
                        <div class="sub_filler" style="width: 70%;"></div>
                    </div>
                </li>
                <li class="sub_skill">Pillow
                    <div class="percent">
                        <div class="sub_filler" style="width: 70%;"></div>
                    </div>
                </li>
                <li class="sub_skill">OpenCV
                    <div class="percent">
                        <div class="sub_filler" style="width: 60%;"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="box">
        <h4 style="cursor: pointer;" onclick="hide_Show(ms_office_hide_show)">Microsoft Office Suite</h4>
        <div class="percent">
            <div style="width: 90%"></div>
        </div>
        <div id="ms_office_hide_show" class="show_hide" style="display: none;">
            <ul>
                <li class="sub_skill">Word
                    <div class="percent">
                        <div class="sub_filler" style="width: 90%;"></div>
                    </div>
                </li>   
                <li class="sub_skill">PowerPoint
                    <div class="percent">
                        <div class="sub_filler" style="width: 90%;"></div>
                    </div>
                </li>
                <li class="sub_skill">Excel
                    <div class="percent">
                        <div class="sub_filler" style="width: 90%;"></div>
                    </div>
                </li>
                <li class="sub_skill">Outlook
                    <div class="percent">
                        <div class="sub_filler" style="width: 90%;"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="box">
        <h4>HTML & CSS</h4>
        <div class="percent">
            <div style="width: 85%;"></div>
        </div>
    </div>
    {% comment %} Faire exactement la même  hose que chez Python {% endcomment %}
    <div class="box">
        <h4 style="cursor: pointer;" onclick="hide_Show(javascript_hide_show)">Javascript</h4>
        <div class="percent">
            <div style="width: 85%"></div>
        </div>
        <div id="javascript_hide_show" class="show_hide" style="display: none;">
            <ul>
                <li class="sub_skill">D3
                    <div class="percent">
                        <div class="sub_filler" style="width: 75%;"></div>
                    </div>
                </li>
                <li class="sub_skill">Meteor.js
                    <div class="percent">
                        <div class="sub_filler" style="width: 20%;"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
     <div class="box">
        <h4 style="cursor: pointer;" onclick="hide_Show(project_management)">Project Management</h4>
        <div class="percent">
            <div style="width: 80%"></div>
        </div>
        <div id="project_management" class="show_hide" style="display: none;">
            <ul>
                <li class="sub_skill">Création d'user stories
                    <div class="percent">
                        <div class="sub_filler" style="width: 60%;"></div>
                    </div>
                </li>
                <li class="sub_skill">Méthodes agiles
                    <div class="percent">
                        <div class="sub_filler" style="width: 50%;"></div>
                    </div>
                </li>
                <li class="sub_skill">Entretien du backlog
                    <div class="percent">
                        <div class="sub_filler" style="width: 40%;"></div>
                    </div>
                </li>
                <li class="sub_skill">
                    <div class="sub_app_list">Utilisation d'applications:</div>
                    <div class="sub_app">Notion
                        <div class="percent">
                            <div class="sub_filler" style="width: 60%;"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="box">
        <h4 style="cursor: pointer;" onclick="hide_Show(test_design)">Test design</h4>
        <div class="percent">
            <div style="width: 75%"></div>
        </div>
        <div id="test_design" class="show_hide" style="display: none;">
            <ul>
                <li class="sub_skill">Compréhension de l'architecture de l'application
                    <div class="percent">
                        <div class="sub_filler" style="width: 90%;"></div>
                    </div>
                </li>
                <li class="sub_skill">User Experience
                    <div class="percent">
                        <div class="sub_filler" style="width: 80%;"></div>
                    </div>
                </li>
                <li class="sub_skill">
                    <div class="sub_app_list">Utilisation d'applications:</div>
                    <div class="sub_app">Practitest
                        <div class="percent">
                            <div class="sub_filler" style="width: 75%;"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="box">
        <h4 style="cursor: pointer;" onclick="hide_Show(ms_power_hide_show)">Microsoft Power Suite</h4>
        <div class="percent">
            <div style="width: 70%"></div>
        </div>
        <div id="ms_power_hide_show" class="show_hide" style="display: none;">
            <ul>
                <li class="sub_skill">SharePoint
                    <div class="percent">
                        <div class="sub_filler" style="width: 90%;"></div>
                    </div>
                </li>
                <li class="sub_skill">PowerBi
                    <div class="percent">
                        <div class="sub_filler" style="width: 80%;"></div>
                    </div>
                </li>
                <li class="sub_skill">Power Automate
                    <div class="percent">
                        <div class="sub_filler" style="width: 65%;"></div>
                    </div>
                </li>
                <li class="sub_skill">Power Apps
                    <div class="percent">
                        <div class="sub_filler" style="width: 50%;"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="box">
        <h4 style="cursor: pointer;" onclick="hide_Show(business_analysis)">Business analysis</h4>
        <div class="percent">
            <div style="width: 65%"></div>
        </div>
        <div id="business_analysis" class="show_hide" style="display: none;">
            <ul>
                <li class="sub_skill">
                    <div class="sub_app_list">Utilisation d'applications:</div>
                    <div class="sub_app">Elements Cloud
                        <div class="percent">
                            <div class="sub_filler" style="width: 75%;"></div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <div class="box">
        <h4 style="cursor: pointer;" onclick="hide_Show(azure_hide_show)">Microsoft Azure & IT Administration</h4>
        <div class="percent">
            <div style="width: 55%"></div>
        </div>
        <div id="azure_hide_show" class="show_hide" style="display: none;">
            <ul>
                <li class="sub_skill">Azure AD & User management
                    <div class="percent">
                        <div class="sub_filler" style="width: 90%;"></div>
                    </div>
                </li>
                <li class="sub_skill">Virtual Machines management
                    <div class="percent">
                        <div class="sub_filler" style="width: 80%;"></div>
                    </div>
                </li>
                <li class="sub_skill">Exchange & Mailboxes management
                    <div class="percent">
                        <div class="sub_filler" style="width: 80%;"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="box">
        <h4 style="cursor: pointer;" onclick="hide_Show(blockain_hide_show)">Blockchain</h4>
        <div class="percent">
            <div style="width: 50%"></div>
        </div>
        <div id="blockain_hide_show" class="show_hide" style="display: none;">
            <ul>
                <li class="sub_skill">Crypto markets
                    <div class="percent">
                        <div class="sub_filler" style="width: 50%;"></div>
                    </div>
                </li>
                <li class="sub_skill">NFTs
                    <div class="percent">
                        <div class="sub_filler" style="width: 40%;"></div>
                    </div>
                </li>
                <li class="sub_skill">Solidity
                    <div class="percent">
                        <div class="sub_filler" style="width: 30%;"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="box">
        <h4>R</h4>
        <div class="percent">
            <div style="width: 25%"></div>
        </div>
    </div>
</div>

<div class="about interest">
    <h2>Loisirs & intérêts</h2>
    <ul>
        <li><i class="fas fa-feather-alt"></i> Poésie & littérature</li>
        <li><i class="fas fa-dice"></i> Jeux de société</li>
        <li><i class="fas fa-book"></i >Histoire et Sciences sociales</li>
        <li><i class="fas fa-gamepad"></i> E-sport & Gaming</li>
    </ul>
</div>
{%endblock%}

{% comment %} Les scripts {% endcomment %}
{%block scripts%}
<script src="https://kit.fontawesome.com/8437639767.js" crossorigin="anonymous"></script>
<script src="{% static 'webpages/script.js' %}"></script>

{% endblock%}

{% comment %} TODO: Créer un contact me {% endcomment %}