/* Général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container */
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: rgb(255, 245, 220);
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.container .left_side{
    position: relative;
    background: rgb(255,180,0);
    padding: 40px;
}
.container .right_side{
    position: relative;
    background: rgb(255,245,220);
    padding: 40px;
}

/* Toute la section de droite sans la photo */
.contactInfo{
    padding-top: 40px;
}
.title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.sub_title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.85em;
    letter-spacing: 1px;
    text-decoration: underline;
}
.contactInfo ul{
    position: relative;
}
.contactInfo ul li{
    list-style: none;
    position: relative;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 0.75em;
    color: rgb(255, 0, 0);
}
.contactInfo ul li span{
    font-weight: 600;
    font-size: 0.75em;
}
hr{
    background: rgb(255,0,0);
    height: 1px;
    border: 0px;
}

/* La section eduation */
.contactInfo.education{
    margin-bottom: 15px;
}
.contactInfo.education li{
    color: rgb(255, 0, 0);
    font-weight: 500;
}
.contactInfo.education h5{
    color: rgb(255, 0, 0);
    font-weight: 500;
}
.contactInfo.education h4{
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.contactInfo.education h6{
    color: rgb(0, 0, 0);
    font-weight: 500;
}

/* Langue */
.contactInfo.langue .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: rgb(255, 210, 40);
    display: block;
    margin-top: 5px;
}
.contactInfo.langue .percent div{
    position: absolute;
    top: 0;
    left: 0;   
    height: 100%;
    background: rgb(255, 0, 0);
}

/* Photo de profile */
.profileTexte{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.profileTexte .imgBx{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileTexte .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileTexte h2{
    color: black;
    font-size: 1.5em;
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profileTexte h2 span{
    font-size: 0.8em;
    font-weight: 300;
}

/* Côté droit */
.container .right_side{
    position: relative;
    background: #fff;
    padding: 40px;
}

/* Expérience professionnelle */
.about{
    margin-bottom: 50px;
}
.about:last-child{
    margin-bottom: 0;
}
.title_2{
    color: rgb(185, 0, 0);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    color: rgb(60, 35, 0);
}
.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .year_company{
    min-width: 150px;
}
.about .box .year_company h5{
    font-weight: 600;
    color: rgb(255, 0, 0);
}
.about .box .text h4{
    color: rgb(195, 0, 0);
}

/* Compétences */
.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
}
.skills .box h4{
    color: rgb(195, 0, 0);
    font-weight: 500;
}
.skills .box .percent{
    position: relative;
    background: rgb(255, 210, 40);
    width: 100%;
    height: 10px;
}
.skills .box .percent div{
    position: absolute;
    top: 0;
    left: 0;   
    height: 100%;
    background: rgb(255, 0, 0);
}
/* Sous-skills */
.show_hide{
    position: relative;
    width: 15em;
}
.show_hide li{
    font-size: 90%;
    margin-left: 20%;
}
.show_hide ul{
    color: #ff8800;
}
.show_hide li{
    list-style: none;
}
#python_hide_show .percent{
    background: rgb(255, 238, 175);
}
#python_hide_show .sub_filler{
    background:#ff9e9e;
}
#javascript_hide_show .percent{
    background: rgb(255, 238, 175);
}
#javascript_hide_show .sub_filler{
    background:#ff9e9e;
}
#ms_office_hide_show .percent{
    background: rgb(255, 238, 175);
}
#ms_office_hide_show .sub_filler{
    background:#ff9e9e;
}
#project_management .percent{
    background: rgb(255, 238, 175);
}
#project_management .sub_filler{
    background:#ff9e9e;
}
#project_management .sub_app_list{
    margin-top: 0.5em;
    margin-left: 0.5em;
}
#project_management .sub_app{
    margin-left: 1.5em;
}
#test_design .percent{
    background: rgb(255, 238, 175);
}
#test_design .sub_filler{
    background:#ff9e9e;
}
#test_design .sub_app_list{
    margin-top: 0.5em;
    margin-left: 0.5em;
}
#test_design .sub_app{
    margin-left: 1.5em;
}
#ms_power_hide_show .percent{
    background: rgb(255, 238, 175);
}
#ms_power_hide_show .sub_filler{
    background:#ff9e9e;
}
#business_analysis .percent{
    background: rgb(255, 238, 175);
}
#business_analysis .sub_filler{
    background:#ff9e9e;
}
#business_analysis .sub_app_list{
    margin-top: 0.5em;
    margin-left: 0.5em;
}
#business_analysis .sub_app{
    margin-left: 1.5em;
}
#azure_hide_show .percent{
    background: rgb(255, 238, 175);
}
#azure_hide_show .sub_filler{
    background:#ff9e9e;
}
#blockain_hide_show .percent{
    background: rgb(255, 238, 175);
}
#blockain_hide_show .sub_filler{
    background:#ff9e9e;
}

/* Loisirs */
.interest ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.interest ul li{
    list-style: none;
    font-weight: 500;
    margin: 10px 0;
}
.interest ul li .fas{
    color: rgb(195, 0, 0);
    font-size: 18px;
    width: 20px;
}

/* Image pop up */
#popup_image_master,
#popup_image_azure,
#popup_image_fond_proj_agi,
#popup_image_UC_SP_proj,
#popup_image_UC_Azure,
#popup_image_beijing_2022,
#popup_image_tokyo_2020,
#popup_image_von_Rund{
    position: fixed;
    top: 10px; left: 10%;
    background: rgba(0,0,0,0.9);
    height: 100%;
    width: 80%;
    z-index: 100;
    display: none;
}
#popup_image_master span,
#popup_image_azure span,
#popup_image_fond_proj_agi span,
#popup_image_UC_SP_proj span,
#popup_image_UC_Azure span,
#popup_image_beijing_2022 span,
#popup_image_tokyo_2020 span,
#popup_image_von_Rund span{
    position: absolute;
    top: 0; right: 10;
    font-size: 60px;
    font-weight: bolder;
    color: #000;
    cursor: pointer;
    z-index: 100;
}
#popup_image_master img,
#popup_image_azure img,
#popup_image_fond_proj_agi img,
#popup_image_UC_SP_proj img,
#popup_image_UC_Azure img,
#popup_image_beijing_2022 img,
#popup_image_tokyo_2020 img 
#popup_image_von_Rund img{
    height: 90%;
    width: 90%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

/* Pour les tablettes */
@media (max-width: 1000px){
    .container{
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
    .interest ul{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Écrans téléphone */
@media (max-width: 600px){
    .about .box{
        flex-direction: column;
    }
    .about .box .year_company{
        margin-bottom: 5px;
        padding: 2px;
    }
    .interest ul{
        grid-template-columns: repeat(1, 1fr);
    }
    .skills .box{
        grid-template-columns: repeat(1, 1fr);
    }

    /* Popup pour téléphone */
    #popup_image_master,
    #popup_image_azure,
    #popup_image_fond_proj_agi,
    #popup_image_UC_SP_proj,
    #popup_image_UC_Azure,
    #popup_image_beijing_2022,
    #popup_image_tokyo_2020,
    #popup_image_von_Rund{
        width: 75%;
    }
}